@import "components/colors.scss";

// Fonts 
$l-font: "Roboto", "Helvetica", sans-serif;
$l-weight: lighter;
// ----------

// Borders
$l-btn-border: 1px solid #e7e7e7;
// ----------
// Margins

$l-btn-margin: 5px 2px;

//--------------
// Paddings


$l-btn-padding: 10px 15px;
$l-btn-padding-lg: 20px 25px;
$l-btn-padding-sm: 4px 8px;
$l-btn-padding-xlg: 25px 30px;

//------------

body {
  margin: 0;
  padding: 10px 0;
  
  font-family: $l-font;
  font-weight: $l-weight;
}

*.no-outline {
  button {
    outline: none;
  }
}




.btn-filled {
  position: static;
  display: inline-block;
  
  background-color: transparent;
  border: $l-btn-border;
  border-color: #757474;
  color: #757474;
  
  padding: $l-btn-padding;
  margin: $l-btn-margin;
  
  border-radius: 3px;
  font-size: 1.1em;
  text-align: center;
  cursor: pointer;
  
  outline: none;
  
  transition: all .2s ease-in-out; 
  
  
  &.rounded {
    border-radius: 500px;
  }
  
  &.round-left {
    border-radius: 500px 3px 3px 500px;
  }
  &.round-right {
    border-radius: 3px 500px 500px 3px
  }
  
  &.square {
    border-radius: 0;
  }
  
  &.small {
    font-size: 0.8em;
    padding: $l-btn-padding-sm;
  }
  
  &.xlarge {
    font-size: 1.4em;
    padding: $l-btn-padding-xlg;
  }
  
  &.massive-border {
    border-width: 3px;
  }
  
  &.large {
    padding: $l-btn-padding-lg;
    font-size: 1.3em;
  }
  
  &:disabled {
    opacity: 0.5;
  }
  
  &:hover {
    color: #ffffff;
    background-color: #757474;
  }
  
  &.red {
    border-color: $l-red;
    color: $l-red;
    &:hover {
      border-color: $l-red-hover;
      color: $l-white;
      background-color: $l-red-hover;
    }
    &:active {
      border-color: $l-red-active;
      color: $l-white;
      background-color: $l-red-active;
    }
  }
  
  &.blue {
    border-color: $l-blue;
    color: $l-blue;
    &:hover {
      border-color: $l-blue-hover;
      color: $l-white;
      background-color: $l-blue-hover;
    }
    &:active {
      border-color: $l-blue-active;
      color: $l-white;
      background-color: $l-blue-active;
    }
  }
  
  &.green {
    border-color: $l-green;
    color: $l-green;
    &:hover {
      border-color: $l-green-hover;
      color: $l-white;
      background-color: $l-green-hover;
    }
    &:active {
      border-color: $l-green-active;
      color: $l-white;
      background-color: $l-green-active;
    }
  }
  
  &.orange {
    border-color: $l-orange;
    color: $l-orange;
    &:hover {
      border-color: $l-orange-hover;
      color: $l-white;
      background-color: $l-orange-hover;
    }
    &:active {
      border-color: $l-orange-active;
      color: $l-white;
      background-color: $l-orange-active;
    }
  }
  
  &.pink {
    border-color: $l-pink;
    color: $l-pink;
    &:hover {
      border-color: $l-pink-hover;
      color: $l-white;
      background-color: $l-pink-hover;
    }
    &:active {
      border-color: $l-pink-active;
      color: $l-white;
      background-color: $l-pink-active;
    }
  }
  &.black {
    border-color: $l-black;
    color: $l-black;
    &:hover {
      border-color: $l-black-hover;
      color: $l-white;
      background-color: $l-black-hover;
    }
  }

  
  &.purple {
    border-color: $l-purple;
    color: $l-purple;
    &:hover {
      border-color: $l-purple-hover;
      color: $l-white;
      background-color: $l-purple-hover;
    }
    &:active {
      border-color: $l-purple-active;
      color: $l-white;
      background-color: $l-purple-active;
    }
  }
  
  &.brown {
    border-color: $l-brown;
    color: $l-brown;
    &:hover {
      border-color: $l-brown-hover;
      color: $l-white;
      background-color: $l-brown-hover;
    }
    &:active {
      border-color: $l-brown-active;
      color: $l-white;
      background-color: $l-brown-active;
    }
  }
  
  &.gray {
    border-color: $l-gray;
    color: $l-gray;
    &:hover {
      border-color: $l-gray-hover;
      color: $l-white;
      background-color: $l-gray-hover;
    }
    &:active {
      border-color: $l-gray-active;
      color: $l-white;
      background-color: $l-gray-active;
    } 
  } 
  
  &.white {
    border-color: $l-white;
    color: #fff;
    &:hover {
      background-color: $l-white-hover;
      color: #333;
    }
    
    &:active {
      background-color: $l-white-active;
      color: #333;
    }
  }
  
  
}





.btn-outline {
  position: static;
  display: inline-block;
  
  background-color: transparent;
  border: $l-btn-border;
  border-color: #757474;
  color: #757474;
  
  padding: $l-btn-padding;
  margin: $l-btn-margin;
  
  border-radius: 3px;
  font-size: 1.1em;
  text-align: center;
  cursor: pointer;
  
  outline: none;
  
     
  &.massive-border {
    border-width: 3px; 
  } 
  
  
  &.rounded {
    border-radius: 500px;
  }
  
  &.round-left {
    border-radius: 500px 3px 3px 500px;
  }
  &.round-right {
    border-radius: 3px 500px 500px 3px
  }
  
  &.small {
    font-size: 0.8em;
    padding: $l-btn-padding-sm;
  }
  
  &.xlarge {
    font-size: 1.4em;
    padding: $l-btn-padding-xlg;
  }
  
  &.square {
    border-radius: 0;
  }
  
  &:disabled {
    opacity: 0.5;
  }
  
  &:hover {
    color: #333;
  }
  
  &.red {
    border-color: $l-red;
    color: $l-red;
    &:hover {
      border-color: $l-red-hover;
      color: $l-red-hover;
    }
    &:active {
      border-color: $l-red-active;
      color: $l-red-active;
    }
  }
  
  &.blue {
    border-color: $l-blue;
    color: $l-blue;
    &:hover {
      border-color: $l-blue-hover;
      color: $l-blue-hover;
    }
    &:active {
      border-color: $l-blue-active;
      color: $l-blue-active;
    }
  }
  
  &.green {
    border-color: $l-green;
    color: $l-green;
    &:hover {
      border-color: $l-green-hover;
      color: $l-green-hover;
    }
    &:active {
      border-color: $l-green-active;
      color: $l-green-active;
    }
  }
  
  &.orange {
    border-color: $l-orange;
    color: $l-orange;
    &:hover {
      border-color: $l-orange-hover;
      color: $l-orange-hover;
    }
    &:active {
      border-color: $l-orange-active;
      color: $l-orange-active;
    }
  }
  
  &.pink {
    border-color: $l-pink;
    color: $l-pink;
    &:hover {
      border-color: $l-pink-hover;
      color: $l-pink-hover;
    }
    &:active {
      border-color: $l-pink-active;
      color: $l-pink-active;
    }
  }
  &.black {
    border-color: $l-black;
    color: $l-black;
    &:hover {
      border-color: $l-black-hover;
      color: $l-black-hover;
    }
  }

  
  &.purple {
    border-color: $l-purple;
    color: $l-purple;
    &:hover {
      border-color: $l-purple-hover;
      color: $l-purple-hover;
    }
    &:active {
      border-color: $l-purple-active;
      color: $l-purple-active;
    }
  }
  
  &.brown {
    border-color: $l-brown;
    color: $l-brown;
    &:hover {
      border-color: $l-brown-hover;
      color: $l-brown-hover;
    }
    &:active {
      border-color: $l-brown-active;
      color: $l-brown-active;
    }
  }
  
  &.pink {
    border-color: $l-pink;
    color: $l-pink;
    &:hover {
      border-color: $l-pink-hover;
      color: $l-pink-hover;
    }
    &:active {
      border-color: $l-pink-active;
      color: $l-pink-active;
    }
  }
  
  &.gray {
    border-color: $l-gray;
    color: $l-gray;
    &:hover {
      border-color: $l-gray-hover;
      color: $l-gray-hover;
    }
    &:active {
      border-color: $l-gray-active;
      color: $l-gray-active;
    }
  }
   
  &.white {
    border-color: $l-white;
    color: #fff;
    &:hover {  
      border-color: $l-white-hover;
      color: $l-white-hover;
    }
    
    &:active {
      border-color: $l-white-active;
      color: $l-white-active;
    }
  }
  
  &.large {
    padding: $l-btn-padding-lg;
    font-size: 1.3em;
  }
  
  
}

.btn-default {
  position: static;
  display: inline-block;
  
  background-color: $l-white;
  border: $l-btn-border;
  
  padding: $l-btn-padding;
  
  border-radius: 3px;
  font-size: 1.1em;
  text-align: center;
  
  margin: $l-btn-margin;
  
  cursor: pointer;
  
  &.rounded {
    border-radius: 500px;
  }
  
  &.round-left {
    border-radius: 500px 3px 3px 500px;
  }
  &.round-right {
    border-radius: 3px 500px 500px 3px
  }
  
  &.small {
    font-size: 0.8em;
    padding: $l-btn-padding-sm;
  }
  
  &.xlarge {
    font-size: 1.4em;
    padding: $l-btn-padding-xlg;
  }
  
  &.square {
    border-radius: 0;
  }
  
  &.old {
    border-radius: 500px;
    box-shadow: inset 0 0 6px 5px rgba(255,255,255,0.24); 
  }
  
  &:disabled {
    opacity: 0.5;
  }
  
  &:hover {
    background-color: $l-white-hover;
  }
  
  &:active {
    background-color: $l-white-active;
  }
  
  &.fluid {
    width: 100%;
  }
  
  &.block {
    display: block;
  }
  
  &.large {
    padding: $l-btn-padding-lg;
    font-size: 1.3em;
  }

  &.upper {
    font-size: 1em;
    text-transform: uppercase;
  }
  
  &.red {
    background-color: $l-red;
    color: $l-white;
    &:hover {
      background-color: $l-red-hover;
    }
    &:active {
      background-color: $l-red-active;
    }
  }
  
  &.blue {
    background-color: $l-blue;
    color: $l-white;
    &:hover {
      background-color: $l-blue-hover;
    }
    &:active {
      background-color: $l-blue-active;
    }
  }
  
  &.green {
    background-color: $l-green;
    color: $l-white;
    
    &:hover {
      background-color: $l-green-hover;
    }
    &:active {
      background-color: $l-green-active;
    }
  }
  
  &.orange {
    background-color: $l-orange;
    color: $l-white;
    &:hover {
      background-color: $l-orange-hover;
    }
    &:active {
      background-color: $l-orange-active;
    }
  }
  
  &.purple {
    background-color: $l-purple;
    color: $l-white;
    &:hover {
      background-color: $l-purple-hover;
    }
    &:active {
      background-color: $l-purple-active;
    }
  }
  
  &.black {
    background-color: $l-black;
    color: $l-white;
    &:hover {
      background-color: $l-black-hover;
    }
  }
  
  &.gray {
    background-color: $l-gray;
    color: $l-white;
    
    &:hover {
      background-color: $l-gray-hover;
    }
    
    &:active {
      background-color: $l-gray-active;
    }
  }
  
  &.pink {
    background-color: $l-pink;
    color: $l-white;
    &:hover {
      background-color: $l-pink-hover;
    }
    &:active {
      background-color: $l-pink-active;
    }
  }
  &.brown {
    background-color: $l-brown;
    color: $l-white;
    &:hover {
      background-color: $l-brown-hover;
    }
    &:active {
      background-color: $l-brown-active;
    }
  }
  
}


.btn-group {
  
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start; 
  
  &.vertical {
    flex-direction: column; 
    
    button {
      border-radius: 0;
      border-top: 0;
      border-bottom: 0;
      &:first-child {
        border-radius: 6px 6px 0 0;
      }
      &:last-child {
        border-radius: 0px 0px 6px 6px;  
      }
    }
  }
  
  button {
    
    margin: 0;
    border-radius: 0; 
    border-left: 0;
    border-right: 0; 
  
    
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
    
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
  }
  
}