// Colors
// White colors
$l-white: #fff;
$l-white-hover: #f3f3f3;
$l-white-active: #eae9e9;

// Red colors
$l-red: #ff5b5b;
$l-red-hover: #ec4949;
$l-red-active: #d03e3e;

// Blue colors
$l-blue: #19aff3;
$l-blue-hover: #1b9eda;
$l-blue-active: #1390ca;

// Green colors
$l-green: #40b345;
$l-green-hover: #329036;
$l-green-active: #328835;

// Orange colors
$l-orange: #ff9f12;
$l-orange-hover: #ef7c07;
$l-orange-active: #e08c0e;

// Purple colors
$l-purple: #ca22e6;
$l-purple-hover: #b427cc;
$l-purple-active: #9716ad;

// Black colors
$l-black: #000000;
$l-black-hover: #313131;

// Gray colors
$l-gray: #647e8a;
$l-gray-hover: #556871;
$l-gray-active: #37474e;

// Brown colors
$l-brown: #846458;
$l-brown-hover: #63453a;
$l-brown-active: #50342a;

// Pink colors
$l-pink: #ff1d6a;
$l-pink-hover: #e6004e;
$l-pink-active: #ce1956;


// --------------